.wrapper {
    display: flex;
    width: 400px;
    margin-block: 1rem;
    border-bottom: 1px solid var(--secondary-background);
    justify-content: space-between;
    align-items: center;
    Button {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 1rem;
        margin-right: 0;
        margin-left: auto;
    }
    
}

.name {
    font-size: 1.25em;
    text-transform: capitalize;
    p {
        text-transform: none;
        font-size: 0.5em;
        margin-right: 1em;
    }
}
