.wrapper {
    width: 400px;
    margin-block: 1rem;
    border-bottom: 1px solid var(--secondary-background);
}

.name {
    font-size: 1.25em;
    text-transform: capitalize;
}

.detailsButton {
    align-self: auto;
}